// app global css in SCSS form
.font-7 {
  font-size: 7px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-50 {
  font-size: 50px;
}

.font-64 {
  font-size: 64px;
}

.font-82 {
  font-size: 82px;
}

.gap-x-xs {
  gap: 0 4px;
}

.gap-x-md {
  gap: 0 16px;
}

.gap-x-lg {
  gap: 0 24px;
}

.gap-lg {
  gap: 24px;
}

img {
  user-select: none;
}

.sticky {
  position: sticky;
}

.btn-shdow {
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
}

.linkCustom {
  color: #661424;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.linkCustom:hover {
  color: $red-7;
}

.underline{
  text-decoration: underline;
}

.container {
  box-shadow: 0 1px 2px 0 #1018280F, 0 1px 3px 0 #1018281A;
  border: 1px solid #D0D5DD;
  border-radius: 14px;
}
